.smooth-theme-ocean {
  --smooth-player-muted: #92a4c1;

  &[data-smooth-layout="stacked"] {
    .smooth-player__main {
      display: block;
    }

    .smooth-player__canvas {
      box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.06);
    }
  }
}
